p {
  font-family: 'PT serif';
  width: 100%;
  align-items: center;
}

a {
  color: #afd5e0;

}

h1, h2, h3, h4 {
  color: #f2c46d;
  font-family: 'PT serif';
  padding: 16px;
}
h4 {
  font-weight: 800;
  font-size: 24px;
}

img {
  border-radius: 11px;
  padding: 5px;
  border: 2px dotted rgb(42, 39, 63);
}

figcaption {
  color:#f2c46d;
  font-family: 'PT serif';
  font-weight: 800;
}

body {
  color: #bfbab5;
  background-image: linear-gradient(to bottom right, #373f4d, #272f3d);
}